__pycache__
.env
model_weights/
training_results/
notebooks/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt
*.pth
*.json
*.log
*.csv
*.tsv
*.db
*.sqlite
*.db-journal
*.ipynb_checkpoints
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.swp    
*ipynb          